<a href="https://colab.research.google.com/github/AAMNAWAHEED/PYTHON/blob/master/100_python_challenging_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
def special_num():
  for i in range(2000,3201):
    if i % 7 == 0 and i % 5!=0:
      print(i,end=",")
special_num()

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [ ]:
"""
import math
def factorial(num):
  res = math.factorial(num)
  print(res)
factorial(8)
"""
def factorial(num):
  res=1
  for i in range(num,0,-1):
    res = res * i
  print(res)

factorial(8)

40320

Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
def generate_dict(num):
  dict = {}
  for i in range(1,num+1):
    dict[i] = i*i
  print(dict)
generate_dict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
num  = input("enter comma separated numbers")
l = num.split(',')
t = tuple(l)
print(l)
print(t)

enter comma separated numbers34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [ ]:
class Test:
  def __init__(self):
    self.str = ""
  def getString(self):
    self.str = input("enter string")
  def printString(self):
    print(self.str.upper())
t1 = Test()
t1.getString()
t1.printString()

enter stringmystring
MYSTRING

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [ ]:
import math
def calculate(l):
  c = 50
  h  = 30
  res = []
  for d in l:
    res.append(int(math.sqrt((2*c*int(d))/h)))
  return res

inp = input("Enter comma separated numbers")
l = inp.split(",")
r = calculate(l)
print(r)

Enter comma separated numbers100,150,180
[18, 22, 24]

***
Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] ***

Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [12]:
def sorting(l):
  l.sort()
  str= ""
  for word in l:
    str+=word
    str+=","
  return str

seq = input("enter comma separated strings")
l = list(seq.split(","))
print(sorting(l))

enter comma separated stringshello,bag,world
['hello', 'bag', 'world']
['bag', 'hello', 'world']
bag,hello,world,

Question 9
Level 2

Question£º
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [7]:
lines = []
while True:
  str = input("enter sentence")
  lines.append(str.upper())
  check = input("continue?")
  if check == 'No':
    break
for sentence in lines:
  print(sentence)

enter sentencehello
continue?y
enter sentenceworld
continue?y
enter sentencepractice
continue?y
enter sentencemakes
continue?y
enter sentenceperfect
continue?No
HELLO
WORLD
PRACTICE
MAKES
PERFECT

Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [14]:
#remove duplicates
#sort
def sorting(str):
  l = list(str.split(" "))
  new_list = []
  for word in l:
    if word in new_list:
      continue
    else:
      new_list.append(word)
  print(sorted(new_list))
str = input("enter string ")
sorting(str)

enter string hello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [16]:
str = input("enter comma separated 4 digits binary numbers")
output = ""
for l in list(str.split(",")):
  if int(l) % 5 == 0:
    output+=l
    output+=","
print(output)

enter comma separated 4 digits binary numbers0100,0011,1010,1001
0100,1010,

Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.