<a href="https://colab.research.google.com/github/AAMNAWAHEED/PYTHON/blob/master/python_PYnative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
num1 = 10
num2 = 20
if num1*num2 <=1000:
  print(num1*num2)
else:
  print(num1+num2)

200

2-Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [4]:
numbers= range(1,10)
sum=0
for i in numbers:
  print(sum+i)
  sum=sum+i

1
3
6
10
15
21
28
36
45

Write a program to accept a string from the user and display characters that are present at an even index number.

In [7]:
str = input("ENTER STRING:")
for i in range(len(str)):
  if i%2 == 0:
    print(str[i])

ENTER STRING:pynative
p
n
t
v

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [2]:
old_str=input("enter string")
rem_char=int(input("numbers of characters you ant to remove"))
"""
for i in range(rem_char):
  new_str=old_str[i+1:]
  print(new_str)
"""
new_str=old_str[rem_char:]
print(new_str)

enter stringpynative
numbers of characters you ant to remove4
tive

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [10]:
def last_eq_first(list):
  if list[0]==list[-1]:
    return True
  else:
    return False

list=[]
elem=int(input("enter number of elements to be in a list"))
for i in range(elem):
  list.append(int(input("enter element")))
print(last_eq_first(list))

enter number of elements to be in a list5
enter element1
enter element2
enter element3
enter element4
enter element1
True

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [11]:
list=[10,2,20,33,40]
for i in list:
  if i%5==0:
    print(i)

10
20
40

Write a program to find how many times substring “Emma” appears in the given string.

In [13]:
string = "Emma is good developer. Emma is a writer,Emma"
substring='Emma'
string.count(substring)

3

In [17]:
"""
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
"""
for i in range(1,5+1):
  for j in range(i):
    print(i,end='')
  print('\n')

1

22

333

4444

55555

In [ ]:
"""
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
"""

In [21]:
for i in range(1,5+1):
  for j in range(1,i+1):
    print(j,end='')
  print('\n')

1

12

123

1234

12345

In [ ]:
"""
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5
"""

In [27]:
row=5
n=row+1
for i in range(1,row+1):
  for j  in range(1,n):
    print(i,end='')
  n=n-1
  print("\n")

11111

2222

333

44

5

https://pynative.com/print-pattern-python-examples/#h-pyramid-pattern-of-numbers